.grid{
	display: grid;
}
.duo{
	grid-template-columns: repeat(2, 1fr);
}
.triad{
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.quad{
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.uno{
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}

		/*
		Media queries for devices larger than regular laptops eg: TV
		*/
		@media only screen and (min-device-width : 1904px){

		}

		/*
		Media Queries for Large screen laptops and Desktop Devices 
		*/
		@media only screen and (min-device-width : 1264px) and (max-device-width : 1904px) {

		}

		/*
		Media Queries for small screen laptops and large tablet devices
		*/
		@media only screen and (min-device-width : 960px) and (max-device-width : 1264px) {

		}

		/*
		Media queries for handheld tablet devices
		*/
		@media only screen and (min-device-width : 600px) and (max-device-width :  960px) {

		}

		/*Media Queries for Mobile Devices*/
		@media only screen and (max-device-width : 600px) {
			.triad{
				grid-template-columns: repeat(1, 1fr);
			}
		}


