
.sidebar{
	height: 100%;
	color : red !important;
	.icon-sidebar{
		height: 100%;
		padding-bottom: 5px !important;
	}

	.sidebar-icon{
		padding: 5px 2px;
		border-radius: 10px;
	}

	.sidebar-icon:hover{
		background-color: rgba($white, .05)  !important;
	}
	.active-sidebar-link{
		background-color: rgba($white, .08);
	}
}


.menu-sidebar{
	max-width: 230px;
	width: 230px;
	li a {
		padding : 5px 10px;
		@extend .rounded;
	}
	.active-text{
		background-color : rgba(lighten($primary, 20%), 0.2) !important;
	}

}

.uk-dark{

	.sidebar {
		background-color: darken($darkTheme, 4%);
	}

	.top-bar {
		background-color : $darkTheme;
	}
	.top-top{
		background-color : rgba($darkTheme, 0.8);
		backdrop-filter: blur(12px);
	}
}

.uk-light{
	.sidebar {
		background-color: $lightTheme;
	}

	.top-bar {
		background-color : darken($grey, 5%);
	}
	.top-top{
		background-color : rgba(darken($grey, 5%), 0.8);
		backdrop-filter: blur(12px);	
	}

	.menu-sidebar{
		background-color : darken($grey, 5%) !important;
		.active-text{
			background-color : rgba($primary, 0.2) !important;
		}


	}
	.active-sidebar-link, .sidebar-icon:hover{
		background-color: rgba($primary, .15)  !important;
	}

}