.uk-dark{
	.background,.content-bg, .uk-modal-dialog{
		background-color: $darkTheme !important;
		background: $darkTheme !important;
	}
	.uk-list-bullet > ::before{
		background-color: darken($grey, 10%) !important;
		@extend .square-20;
		@extend .uk-border-circle;

	}
	.app,.content,.content-bg{
		@extend .background;
	}
	h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6,p,span,div,ul,li{
		color: rgba($white, 0.7) !important;
	}

	form{
		span,small {
			color: $color !important;
		}
		input {
			color: $white !important;
		}
	}

	input {
		color: $white !important;
	}
	.uk-text-danger{
		color: $danger !important;
	}
	.uk-text-white{
		color : $white !important;
		*{color: $white !important;}
	}
	.uk-text-success{
		color : $success !important;
	}
}



.uk-light{
	.background, .uk-modal-body{
		background-color: $lightTheme !important;
		background: $lightTheme !important;
	}

	.content-bg{
		background: #f3f3f9 !important;
	}
	.uk-list-bullet > ::before{
		background-color: darken($grey, 30%) !important;
		@extend .square-20;
		@extend .uk-border-circle;

	}
	.app,.content,.content-bg{
		@extend .background;
	}

	*{
		&:not(button){
			color: $color !important;
		}
		
	}
	.uk-text-danger{
		color: $danger !important;
	}
	
	.color{
		color: $color;
	}

	.uk-button-danger{
		color: $white !important;
	}

	.bordered{
		border: 1px solid $inverse-global-border !important;
	}
	.dashed{
		border: 1px dashed darken($inverse-global-border, 10%) !important;
	}
	.bordered-y{
		border-top: 1px solid $inverse-global-border;
		border-bottom : 1px solid $inverse-global-border;
	}

	.border-bottom{
		border-bottom : 1px solid $inverse-global-border;
	}
	.border-top{
		border-top : 1px solid $inverse-global-border;
	}

	.border-right{
		border-right : 1px solid $inverse-global-border;
	}
	.border-left{
		border-left : 1px solid $inverse-global-border;
	}
	.uk-text-white{
		color : $white !important;
		*{color: $white !important;}
	}

	.uk-text-warning{
		color : $warning !important;
	}
	.uk-text-success{
		color : $success !important;
	}

	.link{
		&:hover{
			color : darken($primary, 15%) !important;
			*{
				color : darken($primary, 15%) !important;
			}
		}
	}

	.transfer-status{
		&::before{
			background-color: $inverse-global-border; 
		}
	}
}